{
  "ownerID": "insert the ID of the bot's owner",
  "token": "insert your bot token here between the double quotes",
  "prefix": "-",
  "modRoleName": "Moderator",
  "adminRoleName": "Administrator"
}