      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <a href="#top" class="float-lg-right">Back to Top</a>
            <p>Made By <a href="https://anidiots.guide">An Idiot's Guide</a>.<br />
            Based on <a href="https://getbootstrap.com">Bootstrap</a>.<br />Icons from <a href="https://fontawesome.com">Font Awesome</a>.<br />Darkly Theme from <a href="https://bootswatch.com/">Bootswatch</a></p>
          </div>
        </div>
      </footer>
  </body>
</html>