    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
            <h2>Discord Server</h2>
            <p>Hey, it's always awesome to have a support server to help people out with your bot!</p>
            <p><a class="btn btn-secondary" href="https://discord.gg/9ESEZAx" role="button">Join Server »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Greatest Bot</h2>
            <p>This bot's awesome, right? Greatest bot since SliceBreadBot!</p>
            <p><a class="btn btn-secondary" href="/commands" role="button">But watsit dew? »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Some other stuff</h2>
            <p>I dunno it's 1am and I should be sleeping. <strong>You</strong> come up with something to put here!</p>
            <p>Oh yeah, it has a great dashboard!<p>
            <p><a class="btn btn-secondary" href="/login" role="button">Login »</a></p>
          </div>
        </div>
      </div>
      <footer class="footer"><p style="text-align:center">© An Idiot's Guide 2017 <a href="#" class="back-to-top" style="text-align:center"><i class="fa fa-fw fa-arrow-circle-up"></i></a></p></footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>