<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <div class="jumbotron">
    <div>
      <h1 class="text-warning">Authentication Error</h1>
      <p>There has been a problem with authentication.</p>
    </div>
  </div>
<% include ./blocks/footer %>