<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1><%= bot.user.username %> Dashboard</h1>
      <p>Obviously, there should be some witty, entertaining, inspired description of the bot here.</p>
      <p>
        <a class="btn btn-primary" href="/docs" role="button">Bot Documentation »</a>
      </p>
    </div>
  </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Discord Server</h2>
          <p>Hey, it's always awesome to have a support server to help people out with your bot!</p>
          <p><a class="btn btn-secondary" href="https://discord.gg/9ESEZAx" role="button">Join Server »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Greatest Bot</h2>
          <p>This bot's awesome, right? Greatest bot since SliceBreadBot!</p>
          <p><a class="btn btn-secondary" href="/docs" role="button">But watsit dew? »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Some other stuff</h2>
          <p>I dunno it's 1am and I should be sleeping. <strong>You</strong> come up with something to put here!</p>
          <p>Oh yeah, it has a great dashboard!<p>
          <p><a class="btn btn-secondary" href="/login" role="button">Login »</a></p>
        </div>  
      </div>

      <hr>

      <footer class="footer">
        <p>© Company 2017</p>
      </footer>
    </div>

<% include ./blocks/footer %>